* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el dashboard del administrador */
body {
    background: #f4f5fa;
}

.dash-header {
    height: 70px;
    background: #ffffff;
    padding: 0 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Logo+nombre*/
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-logo {
    width: 62px;
    height: 62px;
}

/*Texto*/
.admin-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/*Info usuario*/
.usuario-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-text span {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    display: block;
}

.user-text small {
    font-size: 12px;
    color: #777;
}

.btn-logout {
    background: #ff4d4d;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.15s;
}

.btn-logout:hover {
    background: #e04343;
}