* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-beetwen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el dashboard del administrador */
body {
    background: #f4f5fa;
}

.dash-header {
    height: 70px;
    background: #ffffff;
    padding: 0 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 250px;
    /* corre el header para que no se meta en el sidebar */
    width: calc(100% - 250px);
    /* ocupa todo el ancho disponible */
    z-index: 1000;
}

/*Logo+nombre*/
.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-logo {
    width: 62px;
    height: 62px;
}

/*Texto*/
.admin-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/*Info usuario*/
.usuario-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-text span {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    display: block;
}

.user-text small {
    font-size: 12px;
    color: #777;
}

.btn-logout {
    background: #ff4d4d;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.15s;
}

.btn-logout:hover {
    background: #e04343;
}




/* GLOBALES REUTILIZABLES*/
.flex.column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
}

.text-white {
    color: white;
}

.bg-dark {
    background-color: #0a1e33;
}


/*SideBar*/
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0a1e33;
    color: white;
    padding: 20px 15px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.sidebar-logo {
    width: 40px;
}

.sidebar-menu ul {
    list-style: none;
}

.sidebar-menu ul li {
    margin-bottom: 18px;
}

.sidebar-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: block;
    border-radius: 6px;
    transition: 0.3s ease;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background-color: #133a5e;
}

.main {
    margin-left: 250px;
    /* espacio del sidebar */
    margin-top: 70px;
    /* espacio del header fijo */
}

.content {
    padding: 20px;
}


/* listas desplegables */
.submenu-items {
    display: none;
    padding-left: 20px;
}

.submenu-items.show {
    display: block;
}

.toggle-submenu {
    cursor: pointer;
}