.content-box {
    background: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    margin: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}


.btn-primary {
    background-color: #063659;
    color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    transition: .2s;

}

.btn-primary:hover {
    background-color: #054a4e;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.tabla thead {
    background-color: #063659;
    color: white;
}

.tabla th,
.tabla td {
    padding: 10px 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.tabla tbody tr:hover {
    background: #f4f7fb;
}

.estado {
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
}

.estado.activo {
    background: #d4f8da;
    color: #0c7a21;
}

.estado.inactivo {
    background: #fddada;
    color: #b30000;
}

.acciones a {
    margin-right: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.btn-edit {
    color: #2476b0;
}

.btn-edit:hover {
    text-decoration: underline;
}

.btn-delete {
    color: red;
}

.btn-delete:hover {
    text-decoration: underline;
}

.sin-registros {
    text-align: center;
    padding: 20px 0;
    color: #777;
}