* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #063659, #2476b0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.login-image {
    flex: 3;
    background-image: url(../img/home/log/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.login-box {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
}

.login-content {
    width: 100%;
    max-width: 320px;
    text-align: center;
}

.user-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #333;
}

input,
select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Agrupa input + ícono */
.input-group {
    position: relative;
    width: 100%;
}

/* Ícono PNG dentro del input */
.input-group .input-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 55%;
    left: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: .7;
}

/* Inputs */
.input-group input {
    width: 100%;
    padding: 10px 12px 10px 42px;
    /* espacio para el ícono */
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #003c71;
    box-shadow: 0 0 0 3px rgba(0, 60, 113, 0.15);
    outline: none;
}

/* Selects normales sin íconos */
.input-group select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 15px;
}

/* Inputs lado a lado */
.row-inputs {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}

.row-inputs .input-group {
    flex: 1;
}

button {
    padding: 10px;
    border: none;
    background-color: #063659;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #2476b0;
}